<a href="https://colab.research.google.com/github/MaikeFogaca/Python-Projects/blob/main/classificationProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Churn_Modelling.csv', sep=';')
df.head()

  RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0  1,15634602,Hargrave,619,France,Female,42,2,0,1...
1  2,15647311,Hill,608,Spain,Female,41,1,83807.86...
2  3,15619304,Onio,502,France,Female,42,8,159660....
3  4,15701354,Boni,699,France,Female,39,1,0,2,0,0...
4  5,15737888,Mitchell,850,Spain,Female,43,2,1255...

In [3]:
df.isnull().sum()

RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited    0
dtype: int64

In [4]:
df.isna().sum()

RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited    0
dtype: int64

In [10]:
df.head()

  RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0  1,15634602,Hargrave,619,France,Female,42,2,0,1...
1  2,15647311,Hill,608,Spain,Female,41,1,83807.86...
2  3,15619304,Onio,502,France,Female,42,8,159660....
3  4,15701354,Boni,699,France,Female,39,1,0,2,0,0...
4  5,15737888,Mitchell,850,Spain,Female,43,2,1255...

In [ ]:
df_VarUsadas = df[['CreditScore','Geography','Gender', 'Age', 'Tenure','Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary','Exited']]

In [ ]:
df_VarUsadas.describe()

In [ ]:
df_VarUsadas.corr()

In [ ]:
plt.figure(figsize=(10,6))
sns.heatmap(data=df_VarUsadas.corr(), annot=True, center=0)

In [ ]:
X = df[['Age', 'Balance', 'EstimatedSalary']]
X

In [ ]:
y = df[['Exited']]
y

In [ ]:
X.shape, y.shape

In [ ]:
from sklearn.model_selection import train_test_split
SEED = 42
X_treino, X_teste, y_treino, y_teste = train_test_split(X, y, test_size=0.25, random_state = SEED)

In [ ]:
y_teste

In [ ]:
from sklearn.dummy import DummyClassifier
dc = DummyClassifier(strategy='stratified', random_state=SEED)

In [ ]:
dc.fit(X_treino, y_treino)

In [ ]:
print (X_treino.shape, y_treino.shape, X_teste.shape, y_teste.shape)

In [ ]:
result = dc.predict(X_teste)
result

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rfc = RandomForestClassifier()
rfc.fit (X_treino, y_treino)
result_rfc = rfc.predict(X_teste)
result_rfc

In [ ]:
from sklearn.svm import SVC

In [ ]:
svc = SVC()
svc.fit(X_treino, y_treino)
result_svc = svc.predict(X_teste)
result_svc

In [ ]:
dc.score(X_teste, y_teste)

In [ ]:
rfc.score(X_teste, y_teste)

In [ ]:
svc.score(X_teste, y_teste)